<footer class="container">
    <div class="columns">
        <div class="column">
            <div class="content">
                simunye umdeni &lt;3
            </div>
        </div>
        <div class="column has-text-right">
            <div class="content">
                <ul class="succinct-nav">
                    {% for item in site.menus.footer %}
                    <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</footer>
